@model IEnumerable<Transactions_ADO.NET.Models.Cliente>

@{
    ViewBag.Title = "ListarClientes";
}

<h2>ListarClientes</h2>

<p>
    @Html.ActionLink("Create New", "GrabarClientes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cor_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dir_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cred_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_nac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_dist)
        </th>
        <th>Accion</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nom_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cor_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem=> item.dir_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cred_cli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fec_nac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_dist)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarCliente", new { id = item.cod_cli }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Detalle", "DetalleCliente", new { id = item.cod_cli }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Eliminar", "EliminarCliente", new { id = item.cod_cli }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(ViewBag.pagina == 0 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ListarClientes", new { pagina = ViewBag.pagina - 1 })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = Math.Max(0, ViewBag.pagina - 2) ; i < Math.Min(ViewBag.numeroPaginas, ViewBag.pagina + 3) ; i++)
        {
            <li class="page-item @(i == ViewBag.pagina ? "active" : "")">
                <a class="page-link" href="@Url.Action("ListarClientes", new { pagina = i })">@(i + 1)</a>
            </li>
        }
        <li class="page-item @(ViewBag.pagina >= ViewBag.numeroPaginas - 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("ListarClientes", new { pagina = ViewBag.pagina + 1 })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>